* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 1vh;
  background-color: #303844;
  font-size: 13px;
}

.logo a {
  color: white;
  letter-spacing: 3px;
  font-size: 30px;
  text-decoration: none;]

}

.logo {
  font-family: 'Exo 2', sans-serif;
}

.nav-links {
  display: flex;
  width: 20;
  justify-content: space-around;
  color: white;
  text-decoration: none;
  letter-spacing: 2;
}

.nav-links li {
  text-decoration: none;
  list-style-type: none;
  margin-left: 20px;
  font-family: 'Exo 2', sans-serif;
  color: white;
}

.nav-links a {
  text-decoration: none;
  justify-content: space-around;
  color: white;
}
