* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: green;
  font-family: 'Slabo 27px', serif;
}

.logo {
  color: white;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 20px;
}

.nav-links {
  display: flex;
  width: 20;
  justify-content: space-around;
}

.nav-links li {
  list-style: none;
}

.nav-links {
  color: white;
  text-decoration: none;
  letter-spacing: 2;
}
