img {
  height: 70%;
  width: 70%
}

.MainContainer {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 2em;
}

.Card a {
  display: inline-block;
  text-decoration: none;
}

.MoviesContainer {
  border: black 1px solid;
}
