{% extends 'Parent.html' %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='Css/genre.css') }}">
{% endblock %}]

{% block Body %}
<div class="wrapper">
  <!-- <h4>Trending</h4> -->
  <div class="MainContainer">
     {% for movie in ChoseGenre %}
     <div class="CardContainer">
        <div class="Card">
           <a href="{{ url_for('Movie', id=movie.ID) }}"> <img src="{{ movie.Image }}" alt=""></a>
           <a href="{{ url_for('Movie', id = movie.ID) }}">
             <p>{{ movie.Title }}</p>
           </a>
        </div>
     </div>
     {% endfor %}
  </div>

{% endblock %}
