{% extends 'Parent.html' %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='Css/Home.css') }}">
{% endblock %}]

{% block title %} Home {% endblock %}

{% block Body %}
<div class="wrapper">
  <!-- <h4>Trending</h4> -->
  <div class="MainContainer">
     {% for movie in LoopMovies %}
     <div class="CardContainer">
        <div class="Card">
           <a href="{{ url_for('Movie', id=movie.ID) }}"> <img src="{{ movie.Image }}" alt=""></a>
        </div>
     </div>
     {% endfor %}

    


  </div>

  <!-- <div class="newContainer">
    <p>this cointains news from "the movie database API"</p>
  </div>
</div> -->

{% endblock %}
