{% extends 'Parent.html' %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='Css/Home.css') }}">
{% endblock %}]

{% block title %} Home {% endblock %}


{% block Body %}
  {% for movie in LoopMovies %}
    <div class="card">
      <div class="container">
        <a href="Movie/{{ movie.ID }}"><img src= {{ movie.Image }}></a>
        <a href="Movie/{{ movie.ID }}"><h5> {{ movie.Title }} </h5></a>
      </div>
    </div>
  {% endfor %}











{% endblock %}
