{% extends 'Parent.html' %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='Css/Home.css') }}">
{% endblock %}]

{% block title %} Home {% endblock %}

{% block Body %}
<div class="wrapper">
  <div class="MovieContainer">
  <h5>Trending Movies</h5>
  <div class="MainContainer">
     {% for movie in LoopMovies %}
        <div class="Card">
          <a href="{{ url_for('Movie', id=movie.ID) }}"> <img src="{{ movie.Image }}" alt=""></a>
        </div>
     {% endfor %}
  </div>
  </div>
</div>

{% endblock %}
