<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    {% block head %}
      <link rel="stylesheet" href = "{{ url_for('static', filename='Css/base.css') }}">
      <link href="https://fonts.googleapis.com/css?family=Exo+2" rel="stylesheet">
      <meta charset="utf-8">
      <title>PineFlix - {% block title %}{% endblock %}</title>
    {% endblock %}
  </head>
  <body>
    <nav>
      <div class="logo">
        <h4><a href="{{ url_for('Home') }}"> PineFlix </a></h4>
      </div>
      <ul class="nav-links">
        <li><a href="#">Movies</a></li>
        <li><a href="#">Series</a></li>
        <li><a href="#">Genres</a></li>
        <li><a href="#">Contact Us</a></li> <!-- have about in contact us page -->
        <li><a href="#">Login</a></li>
        <li><a href="#">Register</a></li>
      </ul>
      <div class="genres">
        <li><a href="Genre/action">Action</a></li>
        <li><a href="Genre/romance">Romance</a></li>
        <li><a href="Genre/comedy">Comedy</a></li>
        <li><a href="Genre/adventure">Adventure</a></li>
        <li><a href="Genre/science-fiction">Science fiction</a></li>
        <li><a href="Genre/superhero">Superhero</a></li>
        <li><a href="Genre/family">Family</a></li>
        <li><a href="Genre/thriller">Thriller</a></li>
        <li><a href="Genre/war">War</a></li>
        <li><a href="Genre/fantasy">Fantasy</a></li>
        <li><a href="Genre/crime">Crime</a></li>
        <li><a href="Genre/drama">Drama</a></li>
        <li><a href="Genre/history">History</a></li>
      </div>
    </nav>
    {% block Body %}{% endblock %}
  </body>
</html>
