<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      {% block head %}
        <link rel="stylesheet" href = "{{ url_for('static', filename='Css/base.css') }}">
        <link href="https://fonts.googleapis.com/css?family=Exo+2" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <meta charset="utf-8">
        <title>PineFlix - {% block title %}{% endblock %}</title>
      {% endblock %}
   </head>
   <body>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
         <a class="navbar-brand" href="#">PineFlix</a>
         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
         </button>
         <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav navbar-right">
               <li class="nav-item "><a class="nav-link" href="#"> Home <span class="sr-only">(current)</span></a></li>
               <li class="nav-item"><a class="nav-link" href="#"> Movies </a></li>
               <li class="nav-item"><a class="nav-link" href="#"> Series </a></li>
               <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Genres </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                     <a class="dropdown-item" href="Genre/action">Action</a>
                     <a class="dropdown-item" href="Genre/romance">Romance</a>
                     <a class="dropdown-item" href="Genre/comedy">Comedy</a>
                     <a class="dropdown-item" href="Genre/adventure">Adventure</a>
                     <a class="dropdown-item" href="Genre/science-fiction">Science fiction</a>
                     <a class="dropdown-item" href="Genre/superhero">Superhero</a>
                     <a class="dropdown-item" href="Genre/family">Family</a>
                     <a class="dropdown-item" href="Genre/thriller">Thriller</a>
                     <a class="dropdown-item" href="Genre/war">War</a>
                     <a class="dropdown-item" href="Genre/fantasy">Fantasy</a>
                     <a class="dropdown-item" href="Genre/crime">Crime</a>
                     <a class="dropdown-item"  href="Genre/drama">Drama</a>
                     <a class="dropdown-item" href="Genre/history">History</a>
                     <div class="dropdown-divider"></div>
                  </div>
                  <li class="nav-item"><a class="nav-link" href="#"> Contact us </a></li>
               </li>
            </ul>
          </div>
            <!-- <form class="form-inline my-2 my-sm-0">
               <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
               <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form> -->
         </div>
      </nav>
      <!-- Register Modal -->
      <!-- <div class="modal" tabindex="-1" role="dialog">
         <div class="modal-dialog" role="document">
            <div class="modal-content">
               <div class="modal-header">
                  <h5 class="modal-title">Register</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                  </button>
               </div>
               <div class="modal-body">
                  <p>Modal body text goes here.</p>
               </div>
               <div class="modal-footer">
                  <button type="button" class="btn btn-primary">Register</button>
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
               </div>
            </div>
         </div>
         </div> -->
      {% block Body %}{% endblock %}
   </body>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</html>
